{% extends "base.html" %}

{% block title %}
  <title>Home page</title>
{% endblock %}

{% block content %}
  <h1>
    TODO list
    <a href="{% url 'todo:task_create' %}" class="btn btn-primary link-to-page">
      Add task
    </a>
  </h1>
  <br>

  {% if task_list %}
    {% for task in task_list %}
      <p>
        <strong>{{ task.content }}</strong>
        {% if task.done %}
          <a href="{% url 'todo:task_complete' pk=task.id %}" class="btn btn-secondary link-to-page">
            Undo
          </a>
          <strong class="green">Done</strong>
        {% else %}
          <strong class="red">Not done</strong>
          <a href="{% url 'todo:task_complete' pk=task.id %}" class="btn btn-success link-to-page">
            Complete
          </a>
        {% endif %}
      </p>
      <p>
        Created: {{ task.created_at }}
        {% if task.deadline %}
          | Deadline: {{ task.deadline }}
        {% endif %}
      </p>
      <p>
        {% for tag in task.tags.all %}
          {{ tag }}
        {% endfor %}
        <a href="{% url 'todo:task_update' pk=task.id %}">Update</a>
        <a href="{% url 'todo:task_delete' pk=task.id %}">Delete</a>
      </p>
      <hr>
    {% endfor %}
  {% else %}
    <p>There are no tasks</p>
  {% endif %}
{% endblock %}